
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
   {% set datePost = mat.fields.created.content|date('d-m-Y') %}
   {% set today = "now"|date('d-m-Y') %}
    <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({{ fields.field_banner.content }});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-left">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeInUp">
              <span class="date-post">{{ fields.created.content }}</span>
              <h1 class="mb30">
                <a href="{{ fields.view_node.content }}">{{ fields.title.content }}</a>
              </h1>
              <p><a href="{{ fields.view_node.content }}" class="text-link">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>