{% set theme_path = base_path ~ active_theme_path() %}
{% set theme_path1 = theme_path ~ '/content' %}
<div class="ttr_banner_header">
</div>
<header id="ttr_header">
<div class="margin_collapsetop"></div>
<div id="ttr_header_inner">
<div class="margin_collapsetop"></div>
<div class="innermenu"><div id="ttr_menu"> 
<div class="margin_collapsetop"></div>
<nav class="navbar-default navbar-expand-md navbar">
<div id="ttr_menu_inner_in"> 
<div class="ttr_menu_element_alignment container">
</div>
<div class="ttr_images_container">
</div>
<div id="navigationmenu">
<div class="navbar-header">
<button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
<span class="ttr_menu_toggle_button">
<span class="sr-only">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
</span>
<span class="ttr_menu_button_text">
Menu
</span>
</button>
</div>
<div class="menu-center collapse navbar-collapse">
{{ page.primary_menu }}
</div>
</div>
</div>
</nav>
</div>

</div>
<div class="ttr_header_element_alignment container">
<div class="ttr_images_container">
</div>
</div>
{{ page.header }} 
<div class="ttr_images_container">
<a href="http://www.facebook.com/" class="ttr_header_facebook " target="_self">
</a>
<a href="http://" class="ttr_header_linkedin " target="_self">
</a>
<a href="http://twitter.com/" class="ttr_header_twitter " target="_self">
</a>
<a href="http://" class="ttr_header_instagram " target="http://">
</a>
<a href="https://www.youtube.com/" class="ttr_header_youtube " target="https://www.youtube.com/">
</a>
</div>
</div>
</header>
<div class="ttr_banner_header">
</div>
<div class="margin_collapsetop"></div>
<div id="ttr_page" class="container">
<div id="ttr_content_and_sidebar_container">
{% if page.sidebar_second %}
<div id="ttr_content" class = "one_column_right">
{% else %}
<div id="ttr_content" class="zero_column">
{% endif %}
{% set type =  node.getType %}
{% if type == "page" %}
<div id="ttr_html_content_margin" class="container-fluid">
{% else %}
<div id="ttr_content_margin" class="container-fluid">
{% endif %}
<div class="margin_collapsetop"></div>
{% if breadcrumb %}
{{ breadcrumb }}
{% endif %}
<div class="margin_collapsetop"></div>
<div style="clear:both;">
</div>
{% if tabs %}
<div style="clear:both;" class="tabs">{{ tabs }}</div>
{% endif %}
{{ page.help }}
{{ page.messages }}
{% if action_links %}
<ul class="action-links">{{ action_links }}</ul>{% endif %}
<div class="row">
{{ page.content }}
</div>
</div> 
</div> 
{% if page.sidebar_second %}
<aside id="ttr_sidebar_right">
<div id="ttr_sidebar_right_margin">
<div class="margin_collapsetop"></div>
{{ page.sidebar_second }}
<div class="margin_collapsetop"></div>
</div>
</aside> 
{% endif %}
<div style="clear:both;">
</div>
</div>
</div>
<div class="footer-widget-area">
<div class="footer-widget-area_left_border_image">
<div class="footer-widget-area_right_border_image">
<div class="footer-widget-area_inner">
</div>
</div>
</div>
</div>
<div class="margin_collapsetop"></div>
<footer id="ttr_footer">
<div class="margin_collapsetop"></div>
 <div id="ttr_footer_inner">
{% 
if page.footercellcolumn1
 %}
<div class="ttr_footer-widget-cell_inner_widget_container">
<div class="ttr_footer-widget-cell_inner0 container row">
{% set showcolumn = page.footercellcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-12 col-lg-12 col-md-12 col-sm-12  col-xs-12  col-12">
<div class="footercellcolumn1">
{{ page.footercellcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-12 col-lg-12 col-md-12 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
<div id="ttr_footer_top_for_widgets">
<div  class="ttr_footer_top_for_widgets_inner">
{% if page.leftfooterarea or page.centerfooterarea or page.rightfooterarea %}
<div class="footer-widget-area_fixed row">
<div style="margin:0 auto;"></div>
{% if page.leftfooterarea %}
<div  id="first" class="widget-area col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.leftfooterarea }}
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{% else %}
<div  id="first" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-xs d-block"></div>
{% endif %}
{% if page.centerfooterarea %}
<div  id="second" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.centerfooterarea }}
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{% else %}
<div  id="second" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{%  endif %}
{% if page.rightfooterarea %}
<div  id="third" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.rightfooterarea }}
</div>
<div class=" visible-lg visible-md visible-sm visible-xs d-xl-block d-lg-block d-md-block d-sm-block d-block" style="clear:both;"></div>
{% else %}
<div  id="third" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-lg visible-md visible-sm visible-xs d-xl-block d-lg-block d-md-block d-sm-block d-block" style="clear:both;"></div>
{% endif %}
</div>
{% endif %}
</div>
</div>
<div class="ttr_footer_bottom_footer">
<div class="ttr_footer_bottom_footer_inner">
<div class="ttr_footer_element_alignment container">
</div>
<div id="ttr_footer_designed_by_links">
<a href="http://.com" target="_self"> Drupal Theme </a>
<span id="ttr_footer_designed_by"> Designed With  </span>
</div>
{{ feed_icons }}
<a href="http://www.facebook.com/" class="ttr_footer_facebook " target="_self" >
</a>
<a href="http://www..com" class="ttr_footer_linkedin " target="_self" >
</a>
<a href="http://twitter.com/" class="ttr_footer_twitter " target="_self" >
</a>
<a href="http://www..com" class="ttr_footer_instagram " target="_self" >
</a>
<a href="https://www.youtube.com/" class="ttr_footer_youtube " target="_self" >
</a>
</div>
</div>
</div>
</footer>
<div class="margin_collapsetop"></div>
<div class="footer-widget-area">
</div>
</div>
