/********** Template CSS **********/
:root {
  --primary: #06a3da;
  --secondary: #34ad54;
  --light: #eef9ff;
  --dark: #091e3e;
}
/*** Spinner ***/
.spinner {
  width: 40px;
  height: 40px;
  background: var(--primary);
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}
#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
/*** Heading ***/
h1,
h2,
.fw-bold {
  font-weight: 800 !important;
}
h3,
h4,
.fw-semi-bold {
  font-weight: 700 !important;
}
h5,
h6,
.fw-medium {
  font-weight: 600 !important;
}
/*** Button ***/
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  transition: .5s;
}
.btn-primary,
.btn-secondary {
  color: #ffffff;
  box-shadow: inset 0 0 0 50px transparent;
  background-color: #06a3da;
  border: 1px solid #06a3da;
}
a {
  color: #06a3da;
}
.text-primary {
  color: #06a3da !important;
}
.bg-primary {
  background-color: #091e3e   !important;
  border: 1px solid #091e3e;
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: inset 0 0 0 0 var(--primary);
  background-color: #2bb1e0;
  border-color: #1facde;
}
.btn-secondary:hover {
  box-shadow: inset 0 0 0 0 var(--secondary);
}
.btn-square {
  width: 36px;
  height: 36px;
}
.btn-sm-square {
  width: 30px;
  height: 30px;
}
.btn-lg-square {
  width: 48px;
  height: 48px;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
/*** Navbar ***/
.sticky-top.navbar-dark .navbar-brand img {
  color: #06a3da;
}
.navbar-brand img {
  color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-nav .nav-link {
  font-family: 'Nunito', sans-serif;
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: .5s;
}
.sidebar .region-sidebar-first ul li a {
  color: #06a3da;
  margin-left: 0;
  padding: 0;
}
.sidebar .region-sidebar-first ul li a:hover {
  border-color: #1facde;
}
.sidebar .region-sidebar-second ul li a {
  color: #06a3da;
  margin-left: 0;
  padding: 0;
}
.sidebar .region-sidebar-second ul li a:hover {
  border-color: #1facde;
}
.ban-hide.navbar-dark .navbar-brand a.site-title {
  color: #06a3da;
  text-decoration: none;
}
.ban-hide .navbar-nav ul .nav-link {
  color: #06a3da !important;
}
.footer-dark.text-light.bg-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 10px 0;
}
.footer-dark.text-light .navbar-nav .nav-link {
  color: #06a3da;
  padding: 10px 0;
}
footer.footer-dark.text-light span {
  color: #000;
}
footer.footer-dark.text-light.bg-dark span {
  color: #fff;
}
footer.footer-dark.text-light span a {
  color: #06a3da;
}
.footer-light.text-dark .navbar-nav .nav-link {
  color: #06a3da;
}
.footer-light.text-dark.bg-primary .navbar-nav .nav-link {
  color: #fff;
}
footer.footer-light.text-dark span {
  color: #fff;
}
footer.footer-light.text-dark.bg-light span {
  color: #000;
}
.footer-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 10px 0;
}
footer .navbar-nav .nav-link {
  color: #fff;
  padding: 10px 0;
}
footer .dropdown-menu {
  display: block;
}
footer.footer-dark .dropdown-menu,
footer.footer-light .dropdown-menu {
  background: transparent;
  border: none;
}
footer .dropdown-menu .dropdown-item {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-left: 25px;
}
footer.text-light .dropdown-menu .dropdown-item {
  color: #06a3da;
}
footer.bg-primary .dropdown-menu .dropdown-item {
  color: #fff;
}
footer.footer-dark .dropdown-item:hover {
  background-color: transparent;
}
footer.footer-light .dropdown-item:hover {
  background-color: transparent;
}
footer .dropdown-toggle::after {
  border: none;
}
.footer-light.text-dark.bg-secondary .navbar-nav .nav-link,
.footer-light.text-dark.bg-secondary .dropdown-menu .dropdown-item,
.footer-dark.text-light.bg-dark .dropdown-menu .dropdown-item {
  color: #fff;
}
.footer-light.text-dark.bg-light .dropdown-menu .dropdown-item,
.footer-light.text-dark.bg-dark .dropdown-menu .dropdown-item,
.footer-light.text-dark .dropdown-menu .dropdown-item {
  color: #06a3da;
}
.footer-light.text-dark #block-creative-innovative-powered-by-drupal span {
  color: #06a3da;
}
#block-creative-innovative-powered-by-drupal span {
  margin-left: 25px;
}
.form-check-input:checked {
  color: #ffffff;
  box-shadow: inset 0 0 0 50px transparent;
  background-color: #06a3da;
  border: 1px solid #06a3da;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Nunito', sans-serif;
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: .5s;
}
.navbar-light.bg-dark.sticky-top .navbar-nav .nav-link.is-active,
.navbar-light.bg-dark.sticky-top .navbar-nav .nav-link:hover {
  color: var(--primary);
}
.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
  color: #fff;
}
.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: #000;
}
.sticky-top .navbar-nav .nav-link {
  padding: 20px 0;
  color: #000;
}
.sticky-top.text-light .navbar-nav .nav-link {
  color: #000;
}
.navbar-dark.text-light.bg-dark.sticky-top .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark.text-light.bg-dark.sticky-top .navbar-nav .nav-link.is-active,
.navbar-dark.text-light.bg-dark.sticky-top .navbar-nav .nav-link:hover {
  color: var(--primary);
}
.navbar-dark.text-light.bg-dark.sticky-top h1.m-0 #block-creative_innovative-branding a.site-title {
  color: #fff;
}
footer .navbar-brand a.site-title {
  color: #fff;
}
footer.footer-dark.bg-dark {
  background-color: #091e3e !important;
}
.navbar-dark.text-light.bg-dark.sticky-top h1.m-0 {
  color: #fff;
}
.navbar-light.text-dark.bg-dark.sticky-top h1.m-0 {
  color: #000;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.is-active {
  color: var(--primary);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.is-active {
  color: var(--primary);
}
.navbar-dark h1.m-0 {
  color: #ffffff;
  display: flex;
}
.navbar-expand-lg.px-5 h1.m-0 {
  color: #ffffff;
  display: flex;
}
.navbar-light.px-5 h1.m-0 {
  color: #000;
}
/* .navbar-light h1.m-0 {
      color: #fff;
      display: flex;
  } */
.navbar-dark .navbar-toggler {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}
main {
  padding-top: 98px;
}
/* .path-frontpage main{
      padding-top: 0;
  } */
.tabs ul.primary li {
  padding: 0;
}
.tabs ul.primary li a:hover {
  color: #fff;
  /* border: none; */
  box-shadow: inset 0 0 0 0 var(--primary);
  background-color: #2bb1e0;
  border-color: #1facde;
}
.tabs ul.primary li a {
  background: none;
  border: none;
  float: left;
  color: #000;
  line-height: 1.5385em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
  padding: 10px 20px;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom: 0;
  height: 100%;
}
.tabs ul.primary li a.active {
  color: #ffffff;
  box-shadow: inset 0 0 0 50px transparent;
  background-color: #06a3da;
  border: 1px solid #06a3da;
}
.user-logged-in .sticky-top.navbar-dark {
  position: fixed;
  top: 79px;
  background: #ffffff;
}
.user-logged-in .sticky-top.navbar-light {
  position: fixed;
  top: 79px;
  background: #ffffff;
}
@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
    position: relative;
    background: #ffffff;
  }

  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    color: var(--dark);
  }

  .navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }

}
@media (min-width: 992px) {
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, .1);
    z-index: 500;
  }
  .sticky-top {
    position: fixed;
    width: 100%;
  }
  .user-logged-in .sticky-top.navbar-dark {
    position: fixed;
    top: 79px;
    background: #ffffff;
  }
  .user-logged-in .sticky-top.navbar-light {
    position: fixed;
    top: 79px;
    background: #ffffff;
  }
  .sticky-top.navbar-dark {
    position: fixed;
    background: #ffffff;
  }
  .sticky-top.navbar-dark .navbar-brand img {
    color: #06a3da;
  }.navbar-brand img {
    color: #ffffff;
  }
  .sticky-top.navbar-light {
    position: fixed;
    width: 100%;
  }

  .navbar-dark .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: .5s;
  }
  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: .5s;
  }

  .navbar-dark .navbar-nav .nav-link:hover::before,
  .navbar-dark .navbar-nav .nav-link.is-active::before {
    width: 100%;
    left: 0;
  }

  .navbar-dark .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .sticky-top.navbar-dark h1.m-0 {
    color: var(--primary);
  }
  .sticky-top.navbar-dark h1.m-0 #block-creative-innovative-branding a.site-title {
    color: var(--primary);
  }
  .path-user .sticky-top.navbar-dark h1.m-0 #block-creative-innovative-branding a.site-title {
    color: var(--primary);
  }
}
/*** Carousel ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 30, 62, .7);
  z-index: 1;
}
@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}
.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}
/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}
.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}
.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #ffffff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}
.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}
.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}
.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}
@-webkit-keyframes section-title-run {
  0% {
    left: 0;
  } 50% {
    left: 145px;
  } 100% {
    left: 0;
  }
}
@-webkit-keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  } 50% {
    left: 50%;
    margin-left: 45px;
  } 100% {
    left: 50%;
    margin-left: -75px;
  }
}
@-webkit-keyframes section-title-run-sm {
  0% {
    left: 0;
  } 50% {
    left: 85px;
  } 100% {
    left: 0;
  }
}
/*** Service ***/
.service-item {
  position: relative;
  height: 300px;
  padding: 0 30px;
  transition: .5s;
}
.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 2px;
  transform: rotate(-45deg);
}
.service-item .service-icon i {
  transform: rotate(45deg);
}
.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}
.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}
/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: #dddddd;
  border-radius: 2px;
  transition: .5s;
}
.testimonial-carousel .owl-dot.active {
  width: 30px;
  background: var(--primary);
}
.testimonial-carousel .owl-item.center {
  position: relative;
  z-index: 1;
}
.testimonial-carousel .owl-item .testimonial-item {
  transition: .5s;
}
.testimonial-carousel .owl-item.center .testimonial-item {
  background: #ffffff !important;
  box-shadow: 0 0 30px #dddddd;
}
/*** Team ***/
.team-item {
  transition: .5s;
}
.team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}
.team-social a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}
.team-item:hover {
  box-shadow: 0 0 30px #dddddd;
}
.team-item:hover .team-social {
  background: rgba(9, 30, 62, .7);
}
.team-item:hover .team-social a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}
.team-item:hover .team-social a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .05s;
}
.team-item:hover .team-social a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}
.team-item:hover .team-social a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .15s;
}
.team-item .team-img img,
.blog-item .blog-img img {
  transition: .5s;
}
.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
  transform: scale(1.15);
}
/*** Miscellaneous ***/
@media (min-width: 991.98px) {
  .facts {
    position: relative;
    margin-top: -75px;
    z-index: 1;
  }
}
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
footer .arrow-up-left {
  left: 45px;
  right: auto;
}
.bg-header {
  background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}
.link-animated a {
  transition: .5s;
}
.link-animated a:hover {
  padding-left: 10px;
}
.navbar-dark .navbar-brand a.site-title,
#header .navbar-dark .navbar-nav .nav-link {
  color: #06a3da;
}
.navbar-dark.bg-primary .navbar-brand a.site-title:hover {
  color: #fff;
}
.navbar-dark.bg-primary .navbar-brand a.site-title {
  color: #fff;
}
