<div class="fh5co-advantages-outer">
		<div class="container">
			<h1 class="second-title"><span class="span-perfect">
				{{content.field_feature_title.0}}
			</h1>
			<small>{{content.field_sub_title.0}}</small>

			<div class="row fh5co-advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">
				{{content.field_feature_item}}
			</div>
		</div>
	</div>
