<div id="fh5co-download" class="fh5co-bottom-outer" style="background-image: url({{content.field_background_image.0}});">
	<div class="overlay">
		<div class="container fh5co-bottom-inner">
			<div class="row">
				<div class="col-sm-6">
					<h1>{{content.field_title.0}}</h1>
					<p>{{content.field_description.0.0}}</p>
					<a class="wow fadeIn animated" data-wow-delay="0.25s" href="{{content.field_app_store_link.0['#url']}}">
						<img src="{{ file_url(content.field_app_store_image['#items'].entity.uri.value)}}"
		     			class="app-store-btn" 
		     			alt="{{ content.field_app_store_image['#items'].alt }}">
					</a>
					<a class="wow fadeIn animated" data-wow-delay="0.67s" href="{{content.field_playstore_link.0['#url']}}">
						<img src="{{ file_url(content.field_play_store_image['#items'].entity.uri.value)}}"
		     			class="google-play-btn" 
		     			alt="{{ content.field_play_store_image['#items'].alt }}">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>