{#
/**
 * @file
 * Dolphin theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="layout-container">

  <main role="main" class="maintenance-msg">
    <header role="banner">
      {% if logo %}
        <div class="brand logo">
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
            <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
          </a>
        </div>
      {% endif %}

      {% if site_name or site_slogan %}
        <div class="name-and-slogan">
          {% if site_name %}
           <div class="site-name">
             <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
           </div>
          {% endif %}

          {% if site_slogan %}
            <div class="site-slogan">{{ site_slogan }}</div>
          {% endif %}
        </div>{# /.name-and-slogan #}
      {% endif %}

    </header>
    <div class="clearfix">
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
    <div>
    {{ page.highlighted }}

    {{ page.content }}

  </main>

</div>{# /.layout-container #}
