{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div id="page-wrap">

    <nav class="navbar navbar-expand-lg main-navbar-nav navbar-light fixed-top">
      <div class="container">
        {{page.logo}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {{page.primary_menu}}
      </div>
      <div class="social-icons-header clone">
        {% if facebook %}
          <a href="{{facebook}}"><i class="fab fa-facebook-f"></i></a>
        {% endif %}
        {% if instagram %}
          <a href="{{instagram}}"><i class="fab fa-instagram"></i></a>
        {% endif %}
        {% if twitter %}
          <a href="{{twitter}}"><i class="fab fa-twitter"></i></a>
        {% endif %}
      </div>
    </nav>

    <div id="fh5co-hero-wrapper" class="user" style="background-image: url({{banner_image}});" >
      <div class="container fh5co-hero-inner">
        <h1 class="animated fadeIn wow" data-wow-delay="0.4s">{{page['#title']}}</h1>    
      </div>
    </div>
{# Banner Section End #}

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p class="not-p">You are not authorized to access this page. You must login to view this page.</p>
          <a href="{{front_page}}"> Go Home </a>
      </div>
    </div>          
  </div>    
</section>
{# Main #}


 <footer class="footer-outer">
    <div class="container footer-inner">

      <div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
        <div class="column-1-3">
          <h1>{{footer_title}}</h1>
        </div>
        <div class="column-2-3">
          <nav class="footer-nav">
            {{page.footer}}
          </nav>
        </div>
        <div class="column-3-3">
          <div class="social-icons-footer">
            {% if facebook %}
              <a href="{{facebook}}"><i class="fab fa-facebook-f"></i></a>
            {% endif %}
            {% if instagram %}
              <a href="{{instagram}}"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {% if twitter %}
              <a href="{{twitter}}"><i class="fab fa-twitter"></i></a>
            {% endif %}
          </div>
        </div>
      </div>

      <span class="border-bottom-footer"></span>

      <p class="copyright">&copy; 2018 YG App. All rights reserved.<br> Design by <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>.Theme By <a href="https://www.drupaldeveloperstudio.com" target="_blank" class="font_14_roboto">Drupal Developers Studio</a>. A Division of <a href="https://www.youngglobes.com" target="_blank" class="font_14_roboto">Young Globes.</a></p>

    </div>
  </footer>
</div>
