
<div id="page-wrap">

    <nav class="navbar navbar-expand-lg main-navbar-nav navbar-light fixed-top">
      <div class="container">
        {{page.logo}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {{page.primary_menu}}
      </div>
      <div class="social-icons-header clone">
        {% if facebook %}
          <a href="{{facebook}}"><i class="fab fa-facebook-f"></i></a>
        {% endif %}
        {% if instagram %}
          <a href="{{instagram}}"><i class="fab fa-instagram"></i></a>
        {% endif %}
        {% if twitter %}
          <a href="{{twitter}}"><i class="fab fa-twitter"></i></a>
        {% endif %}
      </div>
    </nav>

    <div id="fh5co-hero-wrapper" class="user" style="background-image: url({{banner_image}});" >
      <div class="container fh5co-hero-inner">
        <h1 class="animated fadeIn wow" data-wow-delay="0.4s">{{page['#title']}}</h1>    
      </div>
    </div>
{# Banner Section End #}

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>401</h1>
          <h2>Unauthorized Response Error</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p class="not-p">You are not authorized to access this page. You must login to view this page.</p>
          <a href="{{front_page}}"> Go Home </a>
      </div>
    </div>          
  </div>    
</section>
{# Main #}


 <footer class="footer-outer">
    <div class="container footer-inner">

      <div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
        <div class="column-1-3">
          <h1>{{footer_title}}</h1>
        </div>
        <div class="column-2-3">
          <nav class="footer-nav">
            {{page.footer}}
          </nav>
        </div>
        <div class="column-3-3">
          <div class="social-icons-footer">
            {% if facebook %}
              <a href="{{facebook}}"><i class="fab fa-facebook-f"></i></a>
            {% endif %}
            {% if instagram %}
              <a href="{{instagram}}"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {% if twitter %}
              <a href="{{twitter}}"><i class="fab fa-twitter"></i></a>
            {% endif %}
          </div>
        </div>
      </div>

      <span class="border-bottom-footer"></span>

      <p class="copyright">&copy; 2018 YG App. All rights reserved.<br> Design by <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>.Theme By <a href="https://www.drupaldeveloperstudio.com" target="_blank" class="font_14_roboto">Drupal Developers Studio</a>. A Division of <a href="https://www.youngglobes.com" target="_blank" class="font_14_roboto">Young Globes.</a></p>

    </div>
  </footer>
</div>