{% extends "block.html.twig"%}
{% block content %}
{% if site_logo %}
<div class="ttr_header_logo">
</div>
{% endif %}
{% if site_name or site_slogan %}
{% if site_name %}
<div class="ttr_title_position"> 
<h1 class="ttr_title_style"> 
<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
</h1>
</div>
{% endif %}
{% endif %}
{% endblock %}
