<div class="ttr_comment">
{% if content.comments and node.type != 'forum' %}
{{ title_prefix }}
<h2 class="title">{{ 'Comments' | t }}</h2>
{{ title_suffix }}
{{ content.comments }}
{% if content.comment_form %}
<h2 class="title comment-form">{{ 'Add new comment 2' | t }}</h2>
{{ content.comment_form }}
{% endif %}
</div>
