{% set theme_path = base_path ~ active_theme_path() %}
{% set theme_path1 = theme_path ~ '/content' %}
<div class="ttr_banner_header">
{% 
if page.headerabovecolumn1 or page.headerabovecolumn2 or page.headerabovecolumn3 or page.headerabovecolumn4
 %}
<div class="ttr_banner_header_inner_above_widget_container">
<div class="ttr_banner_header_inner_above0 container row">
{% set showcolumn = page.headerabovecolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerabovecolumn1">
{{ page.headerabovecolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerabovecolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerabovecolumn2">
{{ page.headerabovecolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerabovecolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerabovecolumn3">
{{ page.headerabovecolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerabovecolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerabovecolumn4">
{{ page.headerabovecolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
<header id="ttr_header">
<div class="margin_collapsetop"></div>
<div id="ttr_header_inner">
<div class="margin_collapsetop"></div>
<div class="innermenu"><div id="ttr_menu"> 
<div class="margin_collapsetop"></div>
<nav class="navbar-default navbar-expand-md navbar">
<div id="ttr_menu_inner_in"> 
<div class="ttr_menu_element_alignment container">
</div>
<div class="ttr_images_container">
</div>
<div id="navigationmenu">
<div class="navbar-header">
<button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
<span class="ttr_menu_toggle_button">
<span class="sr-only">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
</span>
<span class="ttr_menu_button_text">
Menu
</span>
</button>
</div>
<div class="menu-center collapse navbar-collapse">
{{ page.primary_menu }}
</div>
</div>
</div>
</nav>
</div>

</div>
<div class="ttr_header_element_alignment container">
<div class="ttr_images_container">
</div>
</div>
{{ page.header }} 
<div class="ttr_images_container">
<a href="http://www.facebook.com/" class="ttr_header_facebook " target="_self">
</a>
<a href="http://" class="ttr_header_linkedin " target="_self">
</a>
<a href="http://twitter.com/" class="ttr_header_twitter " target="_self">
</a>
<a href="http://" class="ttr_header_instagram " target="http://">
</a>
<a href="https://www.youtube.com/" class="ttr_header_youtube " target="https://www.youtube.com/">
</a>
</div>
</div>
</header>
<div class="ttr_banner_header">
{% 
if page.headerbelowcolumn1 or page.headerbelowcolumn2 or page.headerbelowcolumn3 or page.headerbelowcolumn4
 %}
<div class="ttr_banner_header_inner_below_widget_container">
<div class="ttr_banner_header_inner_below0 container row">
{% set showcolumn = page.headerbelowcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerbelowcolumn1">
{{ page.headerbelowcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerbelowcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerbelowcolumn2">
{{ page.headerbelowcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerbelowcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerbelowcolumn3">
{{ page.headerbelowcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerbelowcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerbelowcolumn4">
{{ page.headerbelowcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
<div class="margin_collapsetop"></div>
<div id="ttr_page" class="container">
<div class="ttr_banner_slideshow">
{% 
if page.slideshowabovecolumn1 or page.slideshowabovecolumn2 or page.slideshowabovecolumn3 or page.slideshowabovecolumn4
 %}
<div class="ttr_banner_slideshow_inner_above_widget_container">
<div class="ttr_banner_slideshow_inner_above0 container row">
{% set showcolumn = page.slideshowabovecolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="slideshowabovecolumn1">
{{ page.slideshowabovecolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.slideshowabovecolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="slideshowabovecolumn2">
{{ page.slideshowabovecolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.slideshowabovecolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="slideshowabovecolumn3">
{{ page.slideshowabovecolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.slideshowabovecolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="slideshowabovecolumn4">
{{ page.slideshowabovecolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
<div class="ttr_slideshow">
<div class="margin_collapsetop"></div>
<div id="ttr_slideshow_inner">
<ul>
<li id="Slide0" class="ttr_slide" data-slideEffect="SlideRight">
<a href="http://"></a>
<div class="ttr_slideshow_last">
<div class="ttr_slideshow_element_alignment container" data-begintime="0" data-effect="SlideRight" data-easing="linear" data-slide="None" data-duration="0">
</div>
</div>
</li>
<li id="Slide1" class="ttr_slide" data-slideEffect="SlideRight">
<a href="http://"></a>
<div class="ttr_slideshow_last">
<div class="ttr_slideshow_element_alignment container" data-begintime="0" data-effect="SlideRight" data-easing="linear" data-slide="None" data-duration="0">
</div>
</div>
</li>
</ul>
</div>
<div class="ttr_slideshow_in">
<div class="ttr_slideshow_last">
<div class="left-button">
</div>
<div id="nav"></div>
<div class="ttr_slideshow_logo">
</div>
<div class="right-button">
</div>
</div>
</div>
</div>
<div class="ttr_banner_slideshow">
{% 
if page.slideshowbelowcolumn1 or page.slideshowbelowcolumn2 or page.slideshowbelowcolumn3 or page.slideshowbelowcolumn4
 %}
<div class="ttr_banner_slideshow_inner_below_widget_container">
<div class="ttr_banner_slideshow_inner_below0 container row">
{% set showcolumn = page.slideshowbelowcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="slideshowbelowcolumn1">
{{ page.slideshowbelowcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.slideshowbelowcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="slideshowbelowcolumn2">
{{ page.slideshowbelowcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.slideshowbelowcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="slideshowbelowcolumn3">
{{ page.slideshowbelowcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.slideshowbelowcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="slideshowbelowcolumn4">
{{ page.slideshowbelowcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
<div id="ttr_content_and_sidebar_container">
{% if page.sidebar_second %}
<div id="ttr_content" class = "one_column_right">
{% else %}
<div id="ttr_content" class="zero_column">
{% endif %}
{% set type =  node.getType %}
{% if type == "page" %}
<div id="ttr_html_content_margin" class="container-fluid">
{% else %}
<div id="ttr_content_margin" class="container-fluid">
{% endif %}
<div class="margin_collapsetop"></div>
{% if breadcrumb %}
{{ breadcrumb }}
{% endif %}
{% 
if page.contenttopcolumn1 or page.contenttopcolumn2 or page.contenttopcolumn3 or page.contenttopcolumn4
 %}
<div class="ttr_topcolumn_widget_container">
<div class="contenttopcolumn0 row">
{% set showcolumn = page.contenttopcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="topcolumn1">
{{ page.contenttopcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contenttopcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="topcolumn2">
{{ page.contenttopcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contenttopcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="topcolumn3">
{{ page.contenttopcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contenttopcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="topcolumn4">
{{ page.contenttopcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
<div class="margin_collapsetop"></div>
<div style="clear:both;">
</div>
{% if tabs %}
<div style="clear:both;" class="tabs">{{ tabs }}</div>
{% endif %}
{{ page.help }}
{{ page.messages }}
{% if action_links %}
<ul class="action-links">{{ action_links }}</ul>{% endif %}
<div class="row">
{{ page.content }}
</div>
{% 
if page.contentbottomcolumn1 or page.contentbottomcolumn2 or page.contentbottomcolumn3 or page.contentbottomcolumn4
 %}
<div class="ttr_bottomcolumn_widget_container">
<div class="contentbottomcolumn0 row">
{% set showcolumn = page.contentbottomcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="bottomcolumn1">
{{ page.contentbottomcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contentbottomcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="bottomcolumn2">
{{ page.contentbottomcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contentbottomcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="bottomcolumn3">
{{ page.contentbottomcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contentbottomcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="bottomcolumn4">
{{ page.contentbottomcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div> 
</div> 
{% if page.sidebar_second %}
<aside id="ttr_sidebar_right">
<div id="ttr_sidebar_right_margin">
<div class="margin_collapsetop"></div>
{{ page.sidebar_second }}
<div class="margin_collapsetop"></div>
</div>
</aside> 
{% endif %}
<div style="clear:both;">
</div>
</div>
</div>
<div class="footer-widget-area">
<div class="footer-widget-area_left_border_image">
<div class="footer-widget-area_right_border_image">
<div class="footer-widget-area_inner">
{% 
if page.footerabovecolumn1 or page.footerabovecolumn2 or page.footerabovecolumn3 or page.footerabovecolumn4
 %}
<div class="ttr_footer-widget-area_inner_above_widget_container">
<div class="ttr_footer-widget-area_inner_above0 container row">
{% set showcolumn = page.footerabovecolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerabovecolumn1">
{{ page.footerabovecolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerabovecolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerabovecolumn2">
{{ page.footerabovecolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerabovecolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerabovecolumn3">
{{ page.footerabovecolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerabovecolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerabovecolumn4">
{{ page.footerabovecolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
</div>
</div>
</div>
<div class="margin_collapsetop"></div>
<footer id="ttr_footer">
<div class="margin_collapsetop"></div>
 <div id="ttr_footer_inner">
{% 
if page.footercellcolumn1
 %}
<div class="ttr_footer-widget-cell_inner_widget_container">
<div class="ttr_footer-widget-cell_inner0 container row">
{% set showcolumn = page.footercellcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-12 col-lg-12 col-md-12 col-sm-12  col-xs-12  col-12">
<div class="footercellcolumn1">
{{ page.footercellcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-12 col-lg-12 col-md-12 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
<div id="ttr_footer_top_for_widgets">
<div  class="ttr_footer_top_for_widgets_inner">
{% if page.leftfooterarea or page.centerfooterarea or page.rightfooterarea %}
<div class="footer-widget-area_fixed row">
<div style="margin:0 auto;"></div>
{% if page.leftfooterarea %}
<div  id="first" class="widget-area col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.leftfooterarea }}
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{% else %}
<div  id="first" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-xs d-block"></div>
{% endif %}
{% if page.centerfooterarea %}
<div  id="second" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.centerfooterarea }}
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{% else %}
<div  id="second" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{%  endif %}
{% if page.rightfooterarea %}
<div  id="third" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.rightfooterarea }}
</div>
<div class=" visible-lg visible-md visible-sm visible-xs d-xl-block d-lg-block d-md-block d-sm-block d-block" style="clear:both;"></div>
{% else %}
<div  id="third" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-lg visible-md visible-sm visible-xs d-xl-block d-lg-block d-md-block d-sm-block d-block" style="clear:both;"></div>
{% endif %}
</div>
{% endif %}
</div>
</div>
<div class="ttr_footer_bottom_footer">
<div class="ttr_footer_bottom_footer_inner">
<div class="ttr_footer_element_alignment container">
</div>
<div id="ttr_footer_designed_by_links">
<a href="http://.com" target="_self"> Drupal Theme </a>
<span id="ttr_footer_designed_by"> Designed With  </span>
</div>
{{ feed_icons }}
<a href="http://www.facebook.com/" class="ttr_footer_facebook " target="_self" >
</a>
<a href="http://www..com" class="ttr_footer_linkedin " target="_self" >
</a>
<a href="http://twitter.com/" class="ttr_footer_twitter " target="_self" >
</a>
<a href="http://www..com" class="ttr_footer_instagram " target="_self" >
</a>
<a href="https://www.youtube.com/" class="ttr_footer_youtube " target="_self" >
</a>
</div>
</div>
</div>
</footer>
<div class="margin_collapsetop"></div>
<div class="footer-widget-area">
{% 
if page.footerbelowcolumn1 or page.footerbelowcolumn2 or page.footerbelowcolumn3 or page.footerbelowcolumn4
 %}
<div class="ttr_footer-widget-area_inner_below_widget_container">
<div class="ttr_footer-widget-area_inner_below0 container row">
{% set showcolumn = page.footerbelowcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerbelowcolumn1">
{{ page.footerbelowcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerbelowcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerbelowcolumn2">
{{ page.footerbelowcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerbelowcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerbelowcolumn3">
{{ page.footerbelowcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerbelowcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerbelowcolumn4">
{{ page.footerbelowcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
</div>
