{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
set nav_classes = 'navbar navbar-expand-lg' ~
  (b5_navbar_schema != 'none' ? " navbar-#{b5_navbar_schema}" : ' ') ~
  (b5_navbar_schema != 'none' ? (b5_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_navbar_bg_schema != 'none' ? " bg-#{b5_navbar_bg_schema}" : ' ')
%}

{%
set footer_classes = ' ' ~
  (b5_footer_schema != 'none' ? " footer-#{b5_footer_schema}" : ' ') ~
  (b5_footer_schema != 'none' ? (b5_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_footer_bg_schema != 'none' ? " bg-#{b5_footer_bg_schema}" : ' ')
%}

{%
set arrow_up_side = ' ' ~
  (arrow_up != 'none' ? " footer-#{arrow_up}" : ' ') ~
  (arrow_up != 'none' ? (arrow_up == 'left' ? ' arrow-up-left' : ' arrow-up-right' ) : ' ')
%}
<header id="header">
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->
  <!-- Topbar Start -->
  {% if show_information_icon or show_social_icon %}
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
      <div class="row gx-0">
      {% if show_information_icon %}
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
          <div class="d-inline-flex align-items-center" style="height: 45px;">
            {% if address %}<small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>{{address}}</small>{% endif %}
            {% if contact %}<small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>{{contact}}</small>{% endif %}
            {% if mail_id %}<small class="text-light"><i class="fa fa-envelope-open me-2"></i>{{mail_id}}</small>{% endif %}
          </div>
        </div>
      {% endif %}
      {% if show_social_icon %}
        <div class="col-lg-4 text-center text-lg-end">
          <div class="d-inline-flex align-items-center" style="height: 45px;">
            {% if twitter_url %}<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="{{ twitter_url }}"><i class="fab fa-twitter fw-normal"></i></a>{% endif %}
            {% if facebook_url %}<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="{{ facebook_url }}"><i class="fab fa-facebook-f fw-normal"></i></a>{% endif %}
            {% if linkedin_url %}<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="{{ linkedin_url }}"><i class="fab fa-linkedin-in fw-normal"></i></a>{% endif %}
            {% if instagram_url %}<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="{{ instagram_url }}"><i class="fab fa-instagram fw-normal"></i></a>{% endif %}
            {% if youtube_url %}<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href="{{ youtube_url }}"><i class="fab fa-youtube fw-normal"></i></a>{% endif %}
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="container-fluid position-relative p-0">
    {% if page.header or page.nav_main %}
      <nav class="{{nav_classes}} px-5 py-3 py-lg-0">
        <div class="d-flex w-100">
          <h1 class="m-0">{{ page.header }}</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
              {{ page.nav_main }}
          </div>
        </div>
      </nav>
    {% endif %}
    {% if is_front %}
    {% if slideshow_display %}
      <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for key, option in slide %}
          {% if key matches '/^\\d+$/' %}
          {% if loop.first %}
            <div class="carousel-item active">
              <img class="w-100" src="{{ option.image }}" alt="Image">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                  <h5 class="text-white text-uppercase mb-3 animated slideInDown">{{option.slide_head}}</h5>
                  <h1 class="display-1 text-white mb-md-4 animated zoomIn">{{option.slide_desc}}</h1>
                  <a href="{{option.slide_url}}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">{{option.slide_url_text}}</a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="carousel-item">
              <img class="w-100" src="{{ option.image }}" alt="Image">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                  <h5 class="text-white text-uppercase mb-3 animated slideInDown">{{option.slide_head}}</h5>
                  <h1 class="display-1 text-white mb-md-4 animated zoomIn">{{option.slide_desc}}</h1>
                  <a href="{{option.slide_url}}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">{{option.slide_url_text}}</a>
                </div>
              </div>
            </div>
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% endif %}
    {% endif %}
  </div>
</header>


<main role="main" >
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {%
  set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
   %}

  <div class="{{ b5_top_container }}">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    <div class="row g-0">
      {% if page.sidebar_first %}
        <div class="order-2 order-lg-1 sidebar {{ sidebar_first_classes }}">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      <div class="order-1 order-lg-2 sidebar {{ content_classes }}">
        {{ page.content }}
      </div>
      {% if page.sidebar_second %}
        <div class="order-3 sidebar {{ sidebar_second_classes }}">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
    </div>
  </div>

</main>

{% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth or footer_copyright  %}
<footer class="mt-auto  p-0 {{ footer_classes }}">
  {# <div class="container-fluid bg-dark text-light wow fadeInUp" data-wow-delay="0.1s"> #}
    <div class="container">
      <div class="row gx-5">
        <div class="col-lg-4 col-md-6 footer-about pt-5">
          {{page.footer_first}}
        </div>
        <div class="col-lg-8 col-md-6">
          <div class="row gx-5">
            <div class="col-lg-4 col-md-12 pt-5 mb-5">
              {{page.footer_second}}
            </div>
            <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
              {{page.footer_third}}
            </div>
            <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
              {{page.footer_fourth}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid text-white" style="background: #061429;">
      <div class="container text-center">
        <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
          {{ footer_copyright }}
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top {{arrow_up_side}}"><i class="bi bi-arrow-up"></i></a>
  {# </div> #}
</footer>
{% endif %}
