/*
  App by FreeHTML5.co
  Twitter: http://twitter.com/fh5co
  URL: http://freehtml5.co
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");
#page-wrap {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", "sans-serif";
}

html {
  overflow-x: hidden;
}

.download-btn-first {
  background: #f7f7f7;
}

.download-btn-first:hover {
  background: #234197;
  color: #fff !important;
}

.features-btn-first {
  font-weight: 700;
}

.features-btn-first:hover {
  background: #f7f7f7 !important;
  color: #234197 !important;
}

#fh5co-hero-wrapper {
  height: 800px;
  width: 100%;
  background: url("../img/banner-bg.jpg") no-repeat center;
  border-radius: 0 0 50% 50% / 4%;
}

.main-navbar-nav .navbar-brand {
  font-size: 38px;
  letter-spacing: 4px;
  position: relative;
  top: -5px;
  font-weight: 500;
}

.main-navbar-nav {
  color: #fff !important;
  background: #648bfb;
}
.main-navbar-nav li a{
  color: #fff;
  opacity: .7;
}
.main-navbar-nav .navbar-nav .nav-item a:hover {
  color: #234197 !important;
  -webkit-transition: all .33s ease;
  -moz-transition: all .33s ease;
  -o-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}
.main-navbar-nav li a.active{
    border-bottom: 2px solid;
    color: #fff !important;
    border-radius: 10px;
    opacity: 1 !important;
}
.main-navbar-nav a {
  color: #fff !important;
}
.main-navbar-nav .nav-link {
  margin: 0 35px;
  font-size: 14.5px;
  font-weight: 500;
}

.social-icons-header i {
  margin: 15px;
  font-size: 20px;
}

.social-icons-header a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.fh5co-hero-inner {
  top: 220px;
  position: relative;
}
.fh5co-hero-inner > h1 {
  color: #fff;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 2px;
}
.fh5co-hero-inner > p {
  width: 400px;
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2em;
}
.fh5co-hero-inner .download-btn-first {
  font-size: 15px;
  padding: 10px 15px;
  font-weight: 700;
  color: #234197;
}
.fh5co-hero-inner .features-btn-first {
  font-size: 15px;
  padding: 8px 13px;
  font-weight: 400;
  background: #234197;
  color: #fff;
  margin-left: 10px;
}
.fh5co-hero-inner .fh5co-hero-smartphone {
  position: absolute;
  right: 0px;
  top: 120px;
  height: 650px;
}

/* ==========================================================================================================
                    ADVANTAGES
   ========================================================================================================== */
.fh5co-advantages-outer {
  padding: 70px;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.fh5co-advantages-outer .span-perfect {
  color: #648cff;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 1px;
}
.fh5co-advantages-outer .span-features {
  text-transform: uppercase;
  font-size: 42px;
}
.fh5co-advantages-outer .second-title {
  text-align: center;
  display: block;
}
.fh5co-advantages-outer small {
  display: block;
  text-align: center;
}
.fh5co-advantages-outer .fh5co-advantages-grid-columns {
  margin-top: 120px;
}
.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-image {
  width: 30%;
  float: left;
  padding-right: 30px;
  position: relative;
  top: 1px;
  color: #648cff;
}
.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-title {
  float: left;
  font-size: 20px;
  font-weight: 600;
}
.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-desc {
  float: right;
  font-size: 13px;
  padding-right: 7%;
  width: 70%;
  color: #c7c7c7;
  margin-top: 10px;
  line-height: 1.87em;
}

.fh5co-slider-inner {
  margin-top: 50px;
  margin-bottom: 30px;
}

/* ==========================================================================================================
                    SLIDER
   ========================================================================================================== */
.fh5co-slider-outer {
  width: 100%;
  height: auto;
  padding: 70px;
}
.fh5co-slider-outer h1 {
  color: #648cff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.fh5co-slider-outer > h1, .fh5co-slider-outer small {
  text-align: center;
  display: block;
}
.fh5co-slider-outer .fh5co-slider-outer {
  margin-top: 50px;
}
.fh5co-slider-outer .carousel-left-arrow {
  position: absolute;
  left: -100px;
  bottom: 250px;
  font-size: 60px;
  color: #ececec;
}
.fh5co-slider-outer .carousel-right-arrow {
  position: absolute;
  right: -100px;
  bottom: 250px;
  font-size: 60px;
  color: #ececec;
}
.fh5co-slider-outer .item img {
  height: 400px;
  width: 200px;
  object-fit: contain;
}

/* ==========================================================================================================
                    FEATURES
   ========================================================================================================== */
.curved-bg-div {
  background: url("../img/curved-bgg.jpg") no-repeat;
  background-position: 0px -140px;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.fh5co-features-outer {
  width: 100%;
  height: auto;
  margin-top: -180px;
}
.fh5co-features-outer .col-sm-6 {
  margin-top: 80px;
}
.fh5co-features-outer .col-sm-6 img {
  height: 550px;
}
.fh5co-features-outer .sm-6-content {
  margin-top: 250px;
  position: relative;
}
.fh5co-features-outer .sm-6-content h1 {
  color: #648cff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.fh5co-features-outer .sm-6-content p {
  color: #111;
  font-weight: 500;
  font-size: 14.5px;
  line-height: 1.8em;
  width: 450px;
}
.fh5co-features-outer .col-sm-6 .col-sm-image-container {
  position: relative;
  width: 300px;
}
.fh5co-features-outer .col-sm-6 .span-new {
  color: #fff;
  background: #fcec64;
  padding: 18px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  font-weight: 700;
  right: 0;
  top: 140px;
}
.fh5co-features-outer .col-sm-6 .span-free {
  color: #fff;
  background: #6ca3ff;
  padding: 18px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  left: -35px;
  bottom: -430px;
  font-weight: 700;
}
.fh5co-features-outer .col-sm-6 .span-data {
  color: #7e8c91;
  background: #b8faee;
  padding: 20px;
  width: 40px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: initial;
  position: absolute;
  top: 140px;
  right: -2px;
  font-weight: 700;
}
.fh5co-features-outer .col-sm-6 .span-percent {
  color: #fff;
  background: #6ca3ff;
  padding: 18px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  left: -35px;
  bottom: -430px;
  font-weight: 700;
}
.fh5co-features-outer .col-sm-6 .circle i{
  color: #c3cfe5;
  border: 1px solid #ededed;
  background: #fff;
  padding: 10px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  font-weight: 600;
  box-shadow: 0 0 0 5px #f9f9f9;
}
.fh5co-features-outer .col-sm-6 .circle-front {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 0px;
  font-weight: 600;
}
.fh5co-features-outer .col-sm-6 .circle-first {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 50px;
  font-weight: 600;
}
.fh5co-features-outer .col-sm-6 .circle-middle {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 100px;
  font-weight: 600;
}
.fh5co-features-outer .col-sm-6 .circle-last {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 150px;
  font-weight: 600;
}

/* ==========================================================================================================
                    REVIEWS
   ========================================================================================================== */
.fh5co-reviews-outer {
  width: 100%;
  height: 400px;
  padding: 70px;
  margin-top: 100px;
}
.fh5co-reviews-outer .fh5co-reviews-inner {
  margin-top: 100px;
}
.fh5co-reviews-outer > h1 {
  color: #648cff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.fh5co-reviews-outer > small {
  text-align: center;
  display: block;
}
.fh5co-reviews-outer .testimonial-desc {
  clear: both;
  padding-top: 30px;
  font-weight: 500;
}
.fh5co-reviews-outer .testimonial-2 {
  margin-left: 50px;
}

/* ==========================================================================================================
                    BOTTOM
   ========================================================================================================== */
.fh5co-bottom-outer {
  width: 100%;
  height: 572px;
  background: url("../img/download-section-bg.jpg") no-repeat center;
  margin-top: 120px;
  overflow-x: hidden;
}
.fh5co-bottom-outer .fh5co-bottom-inner {
  margin-top: 270px;
}
.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
}
.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 p {
  width: 350px;
  color: #fff;
  font-size: 14.5px;
  line-height: 1.85em;
}
.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 img {
  margin-top: 25px;
}

   /* ==========================================================================================================
                    SUB FOOTER
   ========================================================================================================== */
.img-float-left {
  float: left;
  
}
.img-float-right {
  float: right;
}
.float-left{
  height: 35px;
  width: 47px;
  background: url(../img/quotes-1.jpg);
}
.float-right{
  height: 35px;
  width: 47px;
  background: url(../img/quotes-2.jpg);
}


.footer-outer {
  width: 100%;
  padding: 50px;
  height: 250px;
  background: #2e3149;
  overflow: hidden;
}
.footer-outer .footer-inner {
  width: 100%;
  height: inherit;
}
.footer-outer .social-icons-footer i {
  margin: 15px;
  font-size: 20px;
}
.footer-outer .social-icons-footer a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.footer-outer .footer-three-grid {
  width: 1140px;
  margin: 0 auto;
  height: 50px;
  text-align: center;
}
.footer-outer .column-1-3 {
  width: 20%;
  float: left;
  height: 50px;
}
.footer-outer .column-1-3 h1 {
  font-size: 38px;
  letter-spacing: 3px;
  position: relative;
  top: -5px;
  font-weight: 600;
  color: #fff;
}
.footer-outer .column-2-3 {
  width: 60%;
  float: left;
  height: 50px;
}
.footer-outer .column-3-3 {
  width: 20%;
  float: left;
  height: 50px;
}
.footer-outer .column-3-3 a {
  color: #b5b5c8;
}
.footer-outer .column-3-3 .social-icons-header a:hover {
  color: #fff;
  opacity: 1;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.footer-outer .footer-nav ul {
  list-style: none;
  text-align: center;
}
.footer-outer .footer-nav ul li {
  display: inline-block;
  line-height: 50px;
  color: #b5b5c8;
  margin: 0 30px;
  font-size: 14px;
}
.footer-outer .footer-nav ul li:hover {
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.footer-outer .footer-nav ul .active {
  color: #fff;
}
.footer-outer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-outer .border-bottom-footer {
  height: 1px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #434769;
  display: block;
  margin-top: 50px;
}
.footer-outer .copyright {
  color: #565b87;
  text-align: center;
  font-size: 13px;
  padding: 40px 0;
}

.google-play-btn {
  margin-left: 10px;
}

/* ==========================================================================================================
                                       RESPONSIVE STYLING
  ========================================================================================================== */
@media screen and (max-width: 1400px) {
  body {
    overflow-x: hidden;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: 50px;
    top: 200px;
    height: 550px;
  }

  .curved-bg-div {
    background-position: 100% -20px;
  }

  .footer-outer .footer-three-grid {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: -15px;
    top: 200px;
    height: 550px;
  }
}
@media screen and (max-width: 350px){
  .fh5co-features-outer .col-sm-6 .col-sm-image-container {
      width: 270px !important;
  }
}
@media screen and (max-width: 410px){
  .footer-outer .border-bottom-footer {
      margin-top: 135px !important;
  }
}
@media screen and (max-width: 993px) {
  body {
    overflow-x: hidden;
  }

  #fh5co-hero-wrapper {
    height: 95vh;
  }

  .fh5co-hero-inner {
    /*margin-top: 30px;*/
    top: 110px;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 270px;
    height: 460px;
    margin-top: 110px;
  }

  .fh5co-advantages-outer {
    margin-top: 50px;
    padding-bottom: 0;
  }

  .fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-image {
    width: 60px;
    float: none;
    display: block;
    margin: 0 auto;
    padding-right: 0px;
    margin-bottom: 20px;
    position: relative;
    top: 1px;
  }

  .fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-title {
    float: none;
    text-align: center;
  }

  .fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-desc {
    float: none;
    width: 100%;
    text-align: center;
  }

  .fh5co-slider-outer .fh5co-slider-outer {
    margin-top: 0px;
  }

  .fh5co-features-outer {
    margin-top: -100px;
  }

  .fh5co-features-outer .sm-6-content p {
    width: 100%;
  }

  .footer-outer .footer-nav ul li {
    margin: 0 10px;
  }

  .footer-outer .social-icons-footer i {
    margin: 15px 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 993px) {
  .fh5co-features-grid-columns .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
  }

  .fh5co-features-outer .col-sm-6 .col-sm-image-container {
    position: relative;
    width: 295px;
    text-align: center;
    margin: 15px auto 0;
  }

  .no-float {
    float: none !important;
  }

  .fh5co-slider-outer .carousel-right-arrow {
    position: absolute;
    right: -70px;
    bottom: 250px;
    font-size: 60px;
    color: #ececec;
  }

  .fh5co-slider-outer .carousel-left-arrow {
    position: absolute;
    left: -70px;
    bottom: 250px;
    font-size: 60px;
    color: #ececec;
  }

  .img-float-right {
    float: none;
  }

  .img-float-left {
    float: none;
  }

  .fh5co-features-outer .col-sm-6 .span-percent, .fh5co-features-outer .col-sm-6 .span-free {
    left: -15px;
    bottom: 140px;
  }

  .fh5co-features-outer .col-sm-6 .span-new {
    right: -10px;
  }

  .fh5co-features-outer .col-sm-6 .span-data {
    right: -15px;
  }

  .fh5co-features-outer .col-sm-6 .circle {
    position: static;
    display: inline-block;
    margin: 25px 5px;
  }

  .fh5co-advantages-outer .second-title {
    margin-top: 60px;
  }

  .fh5co-features-grid-columns {
    display: flex;
    flex-direction: column;
  }
  .fh5co-features-grid-columns .in-order-4 {
    order: 1;
  }
  .fh5co-features-grid-columns .in-order-3 {
    order: 2;
  }

  .fh5co-reviews-outer {
    padding: 0;
  }

  .navbar-light .navbar-toggler {
    color: #fff !important;
    border-color: #c7c7c7 !important;
  }

  .navbar-light .navbar-nav .nav-link {
    margin: 0;
    width: 100%;
  }

  .social-icons-header i:first-of-type {
    margin-right: 10px !important;
    margin-left: 0 !important;
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .fh5co-hero-inner > h1 {
    color: #fff;
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 2px;
  }

  #fh5co-hero-wrapper {
    height: 800px;
  }

  .fh5co-advantages-outer .fh5co-advantages-grid-columns {
    margin-top: 40px;
  }

  .fh5co-advantages-grid-columns .col-sm-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    height: 420px;
    top: 310px;
  }

  .fh5co-advantages-outer .second-title {
    margin-top: 60px;
  }

  .fh5co-bottom-outer {
    margin-top: 40px;
    overflow: hidden;
  }

  .fh5co-bottom-outer .fh5co-bottom-inner {
    margin-top: 50px;
  }

  .fh5co-slider-outer {
    padding: 0;
  }

  .fh5co-slider-outer .carousel-left-arrow {
    left: 50px;
    font-size: 50px;
    bottom: 190px;
  }

  .fh5co-slider-outer .carousel-right-arrow {
    right: 50px;
    font-size: 50px;
    bottom: 190px;
  }

  .fh5co-reviews-inner .col-sm-5 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
    margin: 30px auto;
    text-align: center;
  }

  .fh5co-slider-outer .item img {
    height: 300px;
    margin: auto;
  }

  .fh5co-reviews-outer {
    height: auto;
  }

  .fh5co-reviews-outer .fh5co-reviews-inner {
    margin-top: 50px;
  }

  .fh5co-bottom-outer {
    background-position: center bottom;
    overflow: hidden;
    height: auto;
  }

  .fh5co-bottom-inner {
    overflow: hidden;
    padding-bottom: 50px;
    text-align: center;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
  }

  .fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 p {
    width: 90%;
    margin: 0 auto;
  }

  .footer-outer {
    height: auto;
    padding: 20px;
  }

  .footer-outer .column-1-3 {
    width: 100%;
    float: none;
    height: auto;
    padding-top: 30px;
  }

  .footer-outer .column-2-3 {
    width: 100%;
    float: none;
    height: auto;
  }

  .footer-outer .column-3-3 {
    width: 100%;
    float: left;
    height: auto;
    margin: 15px 0;
  }

  .footer-outer .copyright {
    margin-top: 30px;
    padding: 10px 0;
  }

  .footer-outer .border-bottom-footer {
    height: 1px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #434769;
    display: block;
    margin-top: 100px;
  }
}
@media screen and (max-width: 520px) {
  #fh5co-hero-wrapper {
    height: 900px;
  }

  .fh5co-hero-inner > h1 {
    font-size: 40px;
  }

  .fh5co-hero-inner > p {
    width: 100%;
  }

  .fh5co-hero-inner {
    text-align: center;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    height: 450px;
    top: 420px;
    margin-top: 70px;
  }

  .social-icons-header i:first-of-type {
    font-size: 22px;
  }

  .fh5co-slider-outer .carousel-left-arrow {
    left: 0;
  }

  .fh5co-slider-outer .carousel-right-arrow {
    right: 0;
  }

  .fh5co-slider-inner {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .fh5co-reviews-inner .col-sm-5 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    width: 90%;
    max-width: 90%;
    margin: 30px auto;
    text-align: center;
  }

  .fh5co-advantages-outer .span-perfect {
    margin-top: 80px;
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .fh5co-advantages-outer .span-features {
    font-size: 24px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
